/* Parte Maria Eduarda */
/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset */
*{
    margin:0;
    padding: 0;
    outline:0;
    border:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Formatação da header */
/* Definição de cor de fundo, espaçamento entre a logo e os links, responsividade, definição de fonte */
header{
    background: #CC3A07;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

/* Formatação do body */
/* Definição de cor de fundo e fonte */
body{
    background: #FBF8EB;
    font-family: 'Poppins', sans-serif;
}

/* Formatação do link para levar para a página de cadastro */
/* Definição de cor e tamanho da letra e o padding*/
.botãocadastro{
    color: #FBF8EB;
    font-size: 15px;
    padding: 20px;
}

/* hover = mudar a cor e deixar a largura da letra maior quando passar o cursor*/
.botãocadastro:hover{
    color: #000000;
    font-weight: bold;
}

/* Formatação do link para levar para a página principal */
/* Definição de cor e tamanho da letra, padding e configurações do botão (cor de fundo e a curvatura da borda*/
.botãodeinício{
    background-color: rgba(251, 248, 235, 0.545098);
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
    color: #000000;
}

/* hover = mudar a cor da letra maior quando passar o cursor*/
.botãodeinício:hover{
    color: #ffffff;
}

/* Definição de uma margem para centralizar os botões na parte da navegação */
.botões{
    margin: 25px 40px;
}

/* Formatação da main: responsividade, alinhando os itens/conteúdo no centro da tela em coluna */
.principal{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    padding: 20px;
}

/* Definição do tamanho do título e um padding para espaçar o título da seção do cadastro */
.título{
    font-size: 25px;
    padding-bottom: 10px;
}

/* hover = aumentar o título quando passar o cursor*/
.título:hover{
    transform: scale(1.05);
}

/* Definição de algumas configurações da seção cadastro */
/* Cor de fundo, borda e seu arredondamento, deixando os elementos em coluna, tamanho do quadro, margens e espaçamento entre o itens*/
.entrar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: rgba(204, 58, 7, 0.6);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 600px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Formatação de cor, tamanho da letra e um padding para espação entre o texto e o quadro */
.ajuda{
    color:#000000;
    font-size: 12px;
    padding-top: 10px;
}

/* hover = aumentar o texto quando passar o cursor*/
.ajuda:hover{
    transform: scale(1.05);
}

/* Formatação dos inputs: tamanho, cor de fundo, cor da letra, padding (centralização do texto nos inputs), curvando as bordas*/
input{
    height: 60px;
    background: rgba(251, 248, 235, 0.5451);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    color: rgba(0, 0, 0, 0.683);
}

/* hover = aumentar os inputs quando passar o cursor e mudar a cor de fundo*/
input:hover{
    transform: scale(1.05);
    background: rgba(251, 248, 235, 0.747)5;
}

/* Formatação do botão de entrar: cor de fundo, borda arredonda, padding e margem */
.botão{
    background: rgba(251, 248, 235, 0.5451);
    border-radius: 10px;
    padding: 15px;
    margin:20px;
}

/* hover = aumentar o botão quando passar o cursor e mudar a cor de fundo*/
.botão:hover{
    background-color:rgba(251, 248, 235, 0.781);
    transform: scale(1.1);
}

/* Formatação dos inputs de email e senha: alinhando os itens/conteúdo no centro da tela em coluna e padding*/
.entrar2{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Tamanho da fonte do botão */
.entrar3{
    font-size: 12px;
}

/* Cor da fonte do texto e um padding */
.esqueceu{
    color:#000000;
    padding: 20px;
}

/* hover = aumentar o texto quando passar o cursor e aumentar a largura das letras (negrito)*/
.esqueceu:hover{
    font-weight: bold;
    transform: scale(1.05);
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #CC3A07;
    color: #000;
    font-size: 15px;
    font-weight:bold;
    
}
.sobre{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.contato{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right:20px;
}
.icones{
    display: flex;
    gap: 20px;
}

.direitos{
    display: block;
    background-color: #6F5643;
    font-size: 12px;
}
.direitos2{
    text-align: center;
}
a{
    color: #000;
}
.icones a:hover{
    color: #FBF8EB;
}
.sobre a:hover{
    color: #FBF8EB;
}